In [5]:
import numpy as np
from statistics import mean
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import pandas as pd
import seaborn as sns
from tslearn.clustering import TimeSeriesKMeans
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, SimpleRNN 
from tensorflow.keras import regularizers
from tensorflow.keras.layers import Dense, Dropout
import tensorflow as tf
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from tensorflow import keras
import seaborn as sns
import pickle
import functools
import fastdtw
import scipy.spatial.distance as sd
#from datetime import datetime
consumption_df = pd.read_csv('Final Datasets/energy_consumption.csv')
clustered_df = pd.read_csv('Tables/clustered_AfterStandardization_K=5.csv')
#consumption_df

In [6]:
consumption_df = consumption_df.drop(['Unnamed: 0', 'timestamp'], axis=1)

In [3]:
house_df = consumption_df.groupby(['House Number']).sum()
for smart_feature in ['electronics workbench energy',
       'network equipment energy', 'home office energy',
       'RAE home office energy', 'RAE Mobile Phone Charger Energy']:
    house_df[smart_feature] = (house_df[smart_feature]/house_df['energy_kWh']) * 100
house_df = house_df.drop(['energy_kWh'], axis=1)
print('Smart devices as percentage of total energy consumption:')
house_df

Smart devices as percentage of total energy consumption:

,electronics workbench energy,network equipment energy,home office energy,RAE home office energy,RAE Mobile Phone Charger Energy
House Number,,,,,
1,0.808947,1.747591,1.718105,13.283136,0.042261
2,1.896882,5.278676,3.566117,13.878537,0.049764
3,0.913877,2.088162,1.896344,13.340562,0.042985
4,0.757653,1.581108,1.630975,13.255065,0.041908
5,1.057221,2.553409,2.139834,13.419011,0.043974
6,1.902304,5.296272,3.575326,13.881504,0.049801
7,1.200776,3.019343,2.383683,13.497575,0.044964
8,1.163454,2.898205,2.320285,13.477150,0.044706
9,1.124727,2.772512,2.254503,13.455955,0.044439
10,1.197232,3.007841,2.377663,13.495636,0.044939
11,1.371803,3.574441,2.674197,13.591174,0.046143
12,1.407166,3.689217,2.734265,13.610528,0.046387
13,0.928211,2.134686,1.920693,13.348407,0.043084
14,0.647396,1.223249,1.443688,13.194723,0.041147
15,0.635047,1.183171,1.422713,13.187966,0.041062
16,1.303807,3.353747,2.558695,13.553962,0.045674
17,1.656503,4.498484,3.157799,13.746984,0.048106
18,0.629299,1.164513,1.412948,13.184819,0.041022
19,0.698148,1.387976,1.529899,13.222499,0.041497
20,0.910271,2.076457,1.890218,13.338589,0.042960
21,2.856813,8.394298,5.196695,14.403884,0.056384
22,1.899319,5.286583,3.570256,13.879871,0.049781
23,1.396970,3.635357,2.725082,13.908650,0.047184
24,1.642796,4.412375,3.150822,14.348153,0.049751
25,1.059677,2.514295,2.162454,14.108978,0.045958
26,3.605232,10.507528,6.591757,19.433380,0.074744
27,1.126330,2.703715,2.286219,14.539079,0.047542
28,0.666748,1.212206,1.505497,14.285434,0.044366

In [11]:
clustered_df.rename(columns = {'House':'House Number'}, inplace = True)
consumption_df = pd.merge(clustered_df, consumption_df, on='House Number')

In [16]:
cluster_df = consumption_df.drop(['House Number'], axis=1)
#cluster_df

In [17]:
cluster_df = cluster_df.groupby(['Cluster']).sum()
for smart_feature in ['electronics workbench energy',
       'network equipment energy', 'home office energy',
       'RAE home office energy', 'RAE Mobile Phone Charger Energy']:
    cluster_df[smart_feature] = (cluster_df[smart_feature]/cluster_df['energy_kWh']) * 100
cluster_df = cluster_df.drop(['energy_kWh'], axis=1)
print('Smart devices as percentage of total energy consumption:')
cluster_df

Smart devices as percentage of total energy consumption:

,electronics workbench energy,network equipment energy,home office energy,RAE home office energy,RAE Mobile Phone Charger Energy
Cluster,,,,,
0,0.638168,1.193298,1.428013,13.189673,0.041084
1,1.737747,4.755494,3.298421,13.889154,0.048946
2,0.635047,1.183171,1.422713,13.187966,0.041062
3,1.219469,3.069768,2.419449,13.657642,0.045521
4,0.822718,1.792289,1.741498,13.290673,0.042356